.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.app-header {
  border: 1.5px solid #e1e4e8;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.main {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.page-content {
  flex: 1;
  max-width: 800px;
  padding: 10px;
}

.app-footer {
  padding: 30px;
  color: white;
  font-size: 18px;
  background-color: #282c34;
}

.app-footer a {
  color: #61dafb;
}

.app-footer a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .app-header {
    text-align: center;
  }
}
